/* 초기화 */
body {
   min-width: 1900px;
}
*,
html,
body,
ul,
li {
   margin: 0; /* 기본 여백 제거 */
   padding: 0; /* 기본 패딩 제거 */
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

/* 프리텐다드 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* 배경 */
body {
   margin: 0;
   height: 100%;
   background-color: #121212; /* 배경색을 검정으로 설정 */
   position: relative;
   color: #ffffff; /* 텍스트 색상 */

   font-family: 'Pretendard Variable', Pretendard, sans-serif;
}

body::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url('../../public/images/jeremy-thomas-4dpAqfTbvKA-unsplash.jpg'); /* 이미지 경로 */
   background-size: cover;
   background-position: center;
   background-repeat: none;
   opacity: 0.5; /* 이미지 투명도 설정 */
   z-index: -1; /* 텍스트보다 뒤로 */
}

/* 로고 */
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');

.princessSofia {
   font-family: 'Princess Sofia', serif;
   font-weight: 400;
   font-style: normal;
   font-size: 32px;
   color: #ef8dff;
   padding: 20px 0;
   float: left;
}

/*  */
/* header */
.header {
   padding: 0 60px;
   overflow: hidden; /* float clear */
   position: relative;
}
.header::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%; /* li의 너비를 채움 */
   height: 100%; /* li의 높이를 채움 */
   z-index: -2; /* 텍스트보다 뒤로 */
   background-color: white;
   opacity: 0.2;
}
/* 로그인 했을 때 */
.loginTrueWrap {
   float: right;
   padding: 45px 0;
}
.loginTrue {
   display: flex;
}
.loginTrue > li {
   margin-left: 50px;
   color: #f5b8ff;
   position: relative;
   padding: 5px 25px;
   font-weight: 700;
   font-size: 20px;
}
.loginTrue > li::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%; /* li의 너비를 채움 */
   height: 100%; /* li의 높이를 채움 */
   opacity: 0.7; /* 이미지 투명도 설정 */
   z-index: -1; /* 텍스트보다 뒤로 */
   background-color: #bc2fff;
   border-radius: 25px 0 25px 0;
}

.heartCount {
   display: flex;
}
.heartCount > li:nth-child(2) {
   margin-left: 25px;
}
.starCount {
   align-items: center;
   display: flex;
}
.starCount > li:nth-child(2) {
   margin-left: 25px;
}

/* 로그아웃 상태일때 */
.loginFalseWrap {
   float: right;
   padding: 45px 0;
}
.loginFalseWrap > a {
   color: #f5b8ff;
   position: relative;
   padding: 5px 25px;
   font-weight: 700;
   font-size: 20px;
}
.loginFalseWrap > a::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%; /* li의 너비를 채움 */
   height: 100%; /* li의 높이를 채움 */
   opacity: 0.7; /* 이미지 투명도 설정 */
   z-index: -1; /* 텍스트보다 뒤로 */
   background-color: #bc2fff;
   border-radius: 25px 0 25px 0;
}

/*  */
/* 회원가입 컨테이너 */

/* 상단 연보라 바 */
.signup > h1 {
   padding: 10px 75px;
   overflow: hidden; /* float clear */
   position: relative;
   color: #4c0070;
   font-weight: 600;
   font-size: 20px;
   margin-bottom: 100px;
}
.signup > h1::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%; /* li의 너비를 채움 */
   height: 100%; /* li의 높이를 채움 */
   z-index: -1; /* 텍스트보다 뒤로 */
   background-color: #e6b1ff;
   opacity: 0.7;
}
/*  */

/* 입력 필드 박스 */
.signupBox,
.signupBox1 {
   width: 350px;
   display: flex; /* ? */
   justify-content: space-between; /* ? */
   align-items: center;
   background-color: rgba(255, 255, 255, 0.2);
   padding: 10px 20px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
   margin: 0 auto 20px auto;
}
.signupBox > label,
.signupBox1 > label {
   font-size: 16px;
   color: #ffffff;
   flex: 1; /* ? */
   font-weight: 500;
   text-align: left;
}

.signupBox > input,
.signupBox1 > input {
   background-color: transparent;
   border: none;
   outline: none;
   font-size: 16px;
   color: #ffffff;
   flex: 2;
   padding: 5px;
}
.signupBox > input {
   flex: 4;
}
/* 가입 버튼 */
.buttonCreate {
   width: 390px;
   display: block;
   margin: 40px auto 200px auto;
   padding: 10px 0;
   font-size: 18px;
   font-weight: 600;
   background-color: rgba(255, 255, 255, 0.2);
   font-size: 16px;
   color: #ffffff;
   border: none;
   cursor: pointer;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
   transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttonCreate:hover:not(:disabled) {
   background-color: rgba(230, 177, 255, 0.3);
   transform: translateY(-2px);
}
button:hover:not(:disabled) {
   background-color: rgba(230, 177, 255, 0.3);
   transform: translateY(-2px);
}
/*  */
/* 로그인 컨테이너 */
/* 회원가입 컨테이너 */

/* 상단 연보라 바 */
.login > h1 {
   padding: 10px 75px;
   overflow: hidden; /* float clear */
   position: relative;
   color: #4c0070;
   font-weight: 600;
   font-size: 20px;
   margin-bottom: 100px;
}
.login > h1::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%; /* li의 너비를 채움 */
   height: 100%; /* li의 높이를 채움 */
   z-index: -1; /* 텍스트보다 뒤로 */
   background-color: #e6b1ff;
   opacity: 0.7;
}
/* 입력 필드 박스 */
.loginBox {
   width: 350px;
   display: flex; /* ? */
   justify-content: space-between; /* ? */
   align-items: center;
   background-color: rgba(255, 255, 255, 0.2);
   padding: 10px 20px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
   margin: 0 auto 20px auto;
}
.loginBox > label {
   font-size: 16px;
   color: #ffffff;
   flex: 1; /* ? */
   font-weight: 500;
   text-align: left;
}

.loginBox > input {
   background-color: transparent;
   border: none;
   outline: none;
   font-size: 16px;
   color: #ffffff;
   flex: 4;
   padding: 5px;
}

/* 회원가입으로 이동 */
.gotoSignup {
   margin: -170px auto 300px auto;
   width: fit-content;
}
.gotoSignup > ul {
   display: flex;
   transform: translateX(80px);
}
.gotoSignup > ul > li {
   margin-left: 20px;
}

/*  */
/* 홈 */
/* 이미지 */
.girl1 {
   mix-blend-mode: screen;
   display: block;
   margin: 100px auto 0 auto;
}
/* 소셜&리뷰 네비 */
.middleNav {
   padding: 10px 75px;
   position: relative;
   color: #4c0070;
   font-weight: 600;
   font-size: 20px;
   margin-bottom: 100px;
}
.middleNav::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%; /* li의 너비를 채움 */
   height: 100%; /* li의 높이를 채움 */
   z-index: -1; /* 텍스트보다 뒤로 */
   background-color: #e6b1ff;
   opacity: 0.7;
}
.middleNav > ul {
   display: flex;
   justify-content: center;
   gap: 270px;
}

/* 가입되지 않은 회원입니다. */

.login .error {
   color: #ef8dff;
   text-align: center;
   margin-bottom: 20px;
}

/* 회원가입 완료 후 나오는 창 */
.isSignupComplete {
   margin-top: 50px;
   text-align: center;
}
.isSignupComplete > h2:nth-child(2) {
   margin: 10px 0 40px 0;
}
.isSignupComplete > h2:nth-child(2) > span {
   color: #ef8dff;
}
.moveToLogin > a {
   background-color: rgba(255, 255, 255, 0.2);
   padding: 10px;
}
.moveToLogin > a:hover:not(:disabled) {
   background-color: rgba(230, 177, 255, 0.3);
}

/* 리뷰 페이지 */
/* 상단 연보라 바 */
.reviewList > h1 {
   padding: 10px 75px;
   overflow: hidden; /* float clear */
   position: relative;
   color: #4c0070;
   font-weight: 600;
   font-size: 20px;
   margin-bottom: 100px;
}
.reviewList > h1::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%; /* li의 너비를 채움 */
   height: 100%; /* li의 높이를 채움 */
   z-index: -1; /* 텍스트보다 뒤로 */
   background-color: #e6b1ff;
   opacity: 0.7;
}
/* 신규 이벤트! */
.reviewList > h2 {
   text-align: center;
   font-weight: 500;
   font-size: 36px;
   margin-bottom: 15px;
}
/* 최초 리뷰 작성 시 가챠 1회  */
.reviewList > h3 {
   text-align: center;
   font-size: 24px;
   font-weight: 500;
   margin-bottom: 50px;
}

/* 리뷰 표 */

/* .grid,
.grid2 {
   display: flex;
}
.grid {
   justify-content: center;
   font-size: 20px;
}
.grid > a {
   width: 200px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.grid > li {
   margin-right: 20px;
   margin-bottom: 30px;
}
.grid2 > li {
   margin-right: 20px;
} */

/* 리뷰 표 수정본 */
table {
   margin: 0 auto;
   border-spacing: 40px 40px; /* 행 간 간격 설정 */
}
.reviewContent {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 20ch; /* 10자 정도만 보이게 설정 */
   display: inline-block; /* block 요소가 아닌 경우 추가 */
}

/* 리뷰 상세 */
.reviewDetail {
   text-align: center;
   margin: 90px 0 180px 0;
}

.reviewDetail > h1 {
   margin-bottom: 40px;
}

.content {
   white-space: normal; /* 자동 줄바꿈 활성화 */
   word-break: break-word; /* 단어가 너무 길면 단어 중간에 줄바꿈 */
   overflow-wrap: break-word; /* 단어 중간 줄바꿈을 추가로 보장 */
   width: 400px; /* 적절한 너비를 설정 */
   margin: 40px auto 60px auto;
}

/* 리뷰 작성 페이지 */

.reviewCreate > h1 {
   padding: 10px 75px;
   overflow: hidden; /* float clear */
   position: relative;
   color: #4c0070;
   font-weight: 600;
   font-size: 20px;
   margin-bottom: 90px;
   text-align: left;
}
.reviewCreate > h1::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%; /* li의 너비를 채움 */
   height: 100%; /* li의 높이를 채움 */
   z-index: -1; /* 텍스트보다 뒤로 */
   background-color: #e6b1ff;
   opacity: 0.7;
}
.reviewCreate {
   text-align: center;
}
.reviewCreate > h2 {
   font-weight: 500;
   font-size: 36px;
   margin-bottom: 40px;
}
.reviewForm > textarea {
   background-color: transparent;
   border: 10px solid rgba(188, 47, 255, 0.5);
   width: 850px;
   height: 250px;
   color: white;
   font-size: 20px;
}

/* 홈화면 꾸미기 */
.butterfly {
   width: 30px;
   height: auto;
   position: absolute;
   top: 0;
   left: 650px;
   transform: rotate(45deg);
   animation: sway 2s infinite ease-in-out, blink 1s infinite ease-in-out; /* 애니메이션 추가 */
}

@keyframes sway {
   0% {
      transform: translateX(0) rotate(45deg); /* 원래 위치에서 시작 */
      opacity: 1;
   }
   50% {
      transform: translateX(10px) rotate(20deg); /* 오른쪽으로 이동 */
      opacity: 0.2;
   }
   100% {
      transform: translateX(0) rotate(45deg); /* 원래 위치로 돌아옴 */
      opacity: 1;
   }
}

.butterfly1 {
   width: 30px;
   height: auto;
   position: absolute;
   top: 100px;
   left: 730px;
   rotate: -30deg;
   animation: sway1 2s infinite ease-in-out; /* 애니메이션 추가 */
}

@keyframes sway1 {
   0% {
      transform: translateX(0) rotate(-30deg); /* 원래 위치에서 시작 */
      opacity: 1;
   }
   50% {
      transform: translateX(10px) rotate(20deg); /* 오른쪽으로 이동 */
      opacity: 0.3;
   }
   100% {
      transform: translateX(0) rotate(-30deg); /* 원래 위치로 돌아옴 */
      opacity: 1;
   }
}
.butterfly2 {
   width: 30px;
   height: auto;
   position: absolute;
   top: 200px;
   left: 600px;
   rotate: 0deg;
   animation: sway2 2s infinite ease-in-out; /* 애니메이션 추가 */
}

@keyframes sway2 {
   0% {
      transform: translateX(0) rotate(0deg); /* 원래 위치에서 시작 */
      opacity: 1;
   }
   50% {
      transform: translateX(10px) rotate(-50deg); /* 오른쪽으로 이동 */
      opacity: 0;
   }
   100% {
      transform: translateX(0) rotate(0deg); /* 원래 위치로 돌아옴 */
      opacity: 1;
   }
}

@keyframes blink {
   0%,
   100% {
      opacity: 0.2; /* 거의 투명 */
   }
   50% {
      opacity: 1; /* 완전히 보임 */
   }
}
.butterfly6 {
   width: 30px;
   height: auto;
   position: absolute;
   top: 100px;
   left: 500px;
   rotate: 0deg;
   animation: sway2 2s infinite ease-in-out; /* 애니메이션 추가 */
}
.butterfly7 {
   width: 30px;
   height: auto;
   position: absolute;
   top: 250px;
   left: 750px;
   rotate: 0deg;
   animation: sway1 2s infinite ease-in-out, blink 1s infinite ease-in-out; /* 애니메이션 추가 */
}
/*  */
.butterfly3 {
   width: 30px;
   height: auto;
   position: absolute;
   top: 200px;
   right: 600px;
   rotate: 0deg;
   animation: sway2 2s infinite ease-in-out; /* 애니메이션 추가 */
}
.butterfly4 {
   width: 30px;
   height: auto;
   position: absolute;
   top: 100px;
   right: 730px;
   rotate: -20deg;
   animation: sway 2s infinite ease-in-out, blink 1s infinite ease-in-out; /* 애니메이션 추가 */
}
.butterfly5 {
   width: 30px;
   height: auto;
   position: absolute;
   top: 0px;
   right: 600px;
   rotate: -20deg;
   animation: sway 2s infinite ease-in-out; /* 애니메이션 추가 */
}
.butterfly8 {
   width: 30px;
   height: auto;
   position: absolute;
   top: 100px;
   right: 500px;
   rotate: 0deg;
   animation: sway1 2s infinite ease-in-out; /* 애니메이션 추가 */
}
.butterfly9 {
   width: 30px;
   height: auto;
   position: absolute;
   top: 300px;
   right: 700px;
   rotate: 0deg;
   animation: sway2 2s infinite ease-in-out; /* 애니메이션 추가 */
}
/* 화살표 */
.arrow {
   /* width: 50px; */
   height: auto;
   position: absolute;
   top: 93%;
   left: 780px;
   rotate: 0deg;
   transform-origin: center; /* 회전 중심 */
   animation: spin 1s ease-in-out 1; /* 애니메이션 1번만 실행 */
}
@keyframes spin {
   0% {
      transform: rotate(0deg); /* 시작 */
   }
   100% {
      transform: rotate(360deg); /* 한 바퀴 회전 */
   }
}
/* 롤링텍스트 */
.banner {
   display: flex;
   flex: 0 0 auto;
   white-space: nowrap;
   overflow: hidden;
   transition: 0.3s;
   font-weight: 300;
   color: white;
   animation: textLoop 60s linear infinite;
}

@keyframes textLoop {
   0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }
   100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
   }
}
